
* {
    margin:0px;
    padding: 0px;
    font-size: 24px;
}

body {
    text-align: center;
    background-color: lightskyblue;
}
h1 {
  color: lightpink; 
  padding: 2%;
  font-size: 40px; 
  background-color: grey;
  font-weight:bolder;
}

ul {
    padding: 5%;
    list-style-type:none;
}

button {
    background-color: lightseagreen;
    padding: 4px;
}

.item {
    margin: 1rem;
    width: 20rem;
}

.check {
    margin: 1rem;
}


