
* {
    margin:0px;
    padding: 0px;
    font-size: 18px;
   
}

body {
    text-align: center;
    background-color: lightskyblue;
}
h1 {
  color: lightpink; 
  padding: 2%;
  font-size: 40px; 
  background-color: grey;
  font-weight:bolder;
}

h2 {
    color: lightpink;
}

h3 {
    color:  grey;
    padding-top: 10px;
}

ul {
    padding: 5%;
    list-style-type:none;
    height: 60%;
}
/* section {
    border: block 2px palegreen;
} */
button {

    padding: 4px;
}
.deleteButton {
    background-color :lightcoral;
}
.addButton {
    background-color: lightseagreen;
}

.item {
    margin: 1rem;
  
}

.check {
    margin: 1rem;
}

.listItem {
    background-color: lightgrey;
    margin-top: 4px;
    margin-bottom: 4px;
}
#container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
    position: relative; 
    grid-template-areas:
        'list1 list2'
}
#list1 {
    grid-area: list1;

}
#list2 {
    grid-area: list2;
}
.deleteOnHover {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: lightgrey;
    color:lightcoral;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}
